@using Domain.Entities
@model Title

@{
    Layout = "_LayoutAuthorized";
}

    <div class="title">
        <div class="container">
            <div class="title__inner">
                <div class="title__leftpart">
                    <img src="/assets/images/titles/title (@Model.Id).png" alt="title (@Model.Id).png">
                    
                    <div class="read__button">
                        <button>Читать</button>
                    </div>
                    <div class="tolist__button">
                        <button>В список</button>
                    </div>

                    <div class="title__info">
                        <div class="title__type">
                            <div class="type__name">Тип</div>
                            @Model.TitleType.ToString()
                            @*Корея*@
                        </div>
                        <div class="title__date">
                            <div class="date__name">Дата выхода</div>
                            @Model.Year
                            @*2021*@
                        </div>
                        <div class="title__o_status">
                            <div class="o_status__name">Статус оригинала</div>
                            @Model.StatusOriginal.ToString()
                            @*Онгоинг*@
                        </div>
                        <div class="title__t_status">
                            <div class="t_status__name">Статус перевода</div>
                            @Model.StatusTranslation.ToString()
                            @*Переводится*@
                        </div>
                    </div>
                </div>

                <div class="title__center">
                    <div class="title__name">
                        <div class="ru__name">@Model.Name @*Я не регрессор!*@</div>
                        <div class="en__name">@Model.EnName @*I'm not a Regressor*@</div>
                    </div>
                    
                    <nav class="title__nav">
                        <a href="#tab_01" onmouseenter="nav__item_mouseenter(this)" onmouseleave="nav__item_mouseleave(this)" onclick="nav__item_click(this)" tabindex="0" class="nav__item" id="01">Описание</a>
                        <a href="#tab_02" onmouseenter="nav__item_mouseenter(this)" onmouseleave="nav__item_mouseleave(this)" onclick="nav__item_click(this)" tabindex="0" class="nav__item" id="02">
                            Главы
                            @*@if (Model.Chapters.Count > 0)
                            {*@
                                <div class="item__count">
                                    @Model.Chapters.Count
                                </div>
                            @*}*@
                        </a>
                        <a href="#tab_03" onmouseenter="nav__item_mouseenter(this)" onmouseleave="nav__item_mouseleave(this)" onclick="nav__item_click(this)" tabindex="0" class="nav__item" id="03">
                            Комментарии
                            @*@if (Model.TitleComments.Count > 0)
                            {*@
                                <div class="item__count">
                                    @Model.TitleComments.Count
                                </div>
                            @*}*@
                        </a>
                    </nav>

                    <div class="title__nav__data">
                        <div class="description__tab tab__item" id="tab_01">
                            <div class="description__text" id="tab_01_text">
                                @Model.Description

                                @*<p>Однажды перед моими глазами появилась серебровласая богиня.</p>
                                <p>[Звезда, Бросающая Вызов Небесам. Существо, идущее наперекор судьбе. Единственный и неповторимый спаситель мира, которому суждено было встретить свой конец].</p>
                                <p>Что за чушь несет эта женщина?</p>
                                <p>[Вы, должно быть, регрессор.]</p>
                                <p>«... Что?»</p>
                                <p>Нет, я не регрессор.</p>*@
                            </div>
                            <!-- <a href="#tab_01_text" class="more__button">Подробнее</a> -->
                        </div>

                        <div class="chapters__tab tab__item" id="tab_02">

                            @foreach (var chapter in Model.Chapters)
                            {
                                <div class="chapter">
                                    <div class="chapter__number"><a href="#">Том 1. Глава @chapter.Id</a></div>

                                    <div class="chapter__statistics">
                                        <div class="statistics__item chapter__stat__item">
                                            <img src="../assets/images/statistics/like.png" alt="like.png">
                                            <div class="likes_count">@*20 075 *@@chapter.Statistics.Likes </div>
                                        </div>
                                        <div class="statistics__item chapter__stat__item">
                                            <img src="../assets/images/statistics/comment.png" alt="comment.png">
                                            <div class="comments_count">@*499*@ @chapter.Statistics.Comments </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="comments__tab tab__item" id="tab_03">

                            <div class="comment__input_div">
                                @*<form method="post" asp-controller="Title" asp-action="SendComment">*@
                                @*asp-for="TitleComments"*@

                                <form method="post" action="/Title/SendComment">
                                    <textarea name="Text" class="comment__input" type="text" placeholder="Текст..."></textarea>
                                    <div>
                                        <button type="submit" class="comment__send">Отправить</button>
                                    </div>
                                    <input type="hidden" name="Id" value="@Model.Id"/>
                                </form>
                            </div>

                            @foreach (var comment in @Model.TitleComments)
                            {
                                <div class="comment">
                                <div class="comment__top">
                                    <a href="#">
                                        <img src="" alt="" class="user__img">
                                    </a>
    
                                    <div class="comment__info">
                                        <div class="comment__author">@*Бессмертный Легион*@ @comment.User.Name </div>
                                        <div class="comment__date">@*18.10.2021*@ @comment.Date?.ToString("dd.MM.yyyy") </div>
                                    </div>
                                </div>

                                <div class="comment__text">

                                    @*Можно описание подвести?*@

                                    @comment.Text

                                </div>

                                <div class="comment__statistics">
                                    <div class="statistics__item comment__stat__item">
                                        <img src="../assets/images/statistics/like.png" alt="like.png">
                                        <div class="likes_count">@*20 075*@ @comment.Statistics.Likes </div>
                                    </div>
                                    <div class="statistics__item comment__stat__item">
                                        <img src="../assets/images/statistics/comment.png" alt="comment.png">
                                        <div class="comments_count">@*499*@ @comment.Statistics.Likes </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="title__rightpart">
                    <div class="title__statistics">
                        <div class="title_stat__item">
                            <img src="/assets/images/statistics/star_icon.png" alt="star_icon.png">
                            <div class="item_count">

                                @*4.79*@

                                @Model.Ratings.Average(r => r.Value)

                                <div class="users__count">

                                    @*24*@

                                    @Model.Ratings.Count

                                </div>
                            </div>
                        </div>
                        <div class="title_stat__item">
                            <img src="/assets/images/statistics/bookmark_icon.png" alt="bookmark_icon.png">

                            @*381*@

                            @Model.Bookmarks.Count

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>